

.page-container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

/* To center the header text */
.index {
    text-align: center;
}

/* For navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
    color: #333;
    padding: 10px 0;
}

.navbar a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-group button {
    padding: 10px 10px; /* adjusts the space around the text */
    height: 40px; /* adjust as needed */
    width: 190px; /* adjust as needed */
    font-size: 12px; /* adjust as needed */
}

/* Centering the buttons */
body > .page-container {
    text-align: center;
}

/* For articles */
article h3 {
    text-align: center;
}

article p, article img {
    display: block;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.column {
    text-align: center;
}

.column h4 {
    margin-top: 10px;
}

.opening-times-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 75px;
}

.grid-container-five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.column-five {
    flex: 1;
    margin: 10px;
    text-align: justify;
}

.column-five h4 {
    margin-top: 10px;
    text-align: center;
}

.column-five img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 255px;
    height: 150px;
}

.location-column {
    text-align: center;
}

.location-column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 450px;
}

.grid-container-parking {
    display: flex;
    justify-content: space-between;
    max-width: 800px; /* Change to adjust the overall width of the three columns. */
    margin: 0 auto; /* This will center your columns. */
}

.column-parking {
    text-align: center;
    flex: 1;
    margin: 10px;
}

.column-parking img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 70px;
}

.column-parking p {
    text-align: justify;
}

#tickets {
    text-align: center;
}


#tips {
    text-align: center;
}

.ticket-grid, .tip-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 100px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;  /* Adjust this for desired overall width */
    margin: 0 auto;
}

.ticket-item, .tip-item {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Both areas have equal width */
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.ticket-item:nth-child(even), .tip-item:nth-child(even) {
    grid-template-areas:
        "ticket-image ticket-content";
}

.ticket-item:nth-child(odd), .tip-item:nth-child(odd) {
    grid-template-areas:
        "ticket-content ticket-image";
}

.ticket-content, .tip-content {
    grid-area: ticket-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.ticket-image, .tip-image {
    grid-area: ticket-image;
}

.ticket-image img, .tip-image img {
    width: 100%;  /* Let the image resize based on the grid column width */
    height: auto;
}

@media (max-width: 800px) {
    .ticket-item, .tip-item {
        grid-template-columns: 1fr;
    }

    .ticket-item:nth-child(even),
    .ticket-item:nth-child(odd),
    .tip-item:nth-child(even),
    .tip-item:nth-child(odd) {
        grid-template-areas:
            "ticket-content"
            "ticket-image";
    }
}

.service-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.service-item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* aligns the image and the text content to the top */
    margin-bottom: 10px;
}

.service-image {
    flex: 0.5;  
    margin-right: 20px; 
    width: auto;  
    height: 200px;
    object-fit: cover; /* this makes sure the aspect ratio of the image is preserved */
}

.service-content {
    flex: 2;
    display: flex;
    flex-direction: column; /* arranges the h3 and p elements vertically */
    justify-content: flex-start; /* starts the text at the top of its container */
    text-align: left;
    margin-left: 20px; /* add margin to the left of the text */
}

.service-content h3 {
    margin-top: 0;  /* remove the margin-top of h3 inside .service-content */
    text-align: left;
}

.service-list,.faq-list {
    text-align: left;
}

@media (max-width: 800px) {
    .service-item {
        flex-direction: column;
    }
    .service-image,
    .service-content{
        flex-basis: 100%; /* makes the image and text content take up the full width on smaller screens */
    }
    
    .service-image {
        margin-bottom: 20px; /* add margin to the bottom of the image on smaller screens */
    }
}

.search-box input[type="text"],
.search-box button {
    box-sizing: border-box;
}
.search-box input[type="text"] {
    width: 500px;  /* Adjust as needed */
    height: 50px;  /* Adjust as needed */
    font-size: 20px;  /* Adjust as needed */
    padding: 10px;
}

.search-box button {
    height: 50px;  /* Should match the input height for alignment */
    font-size: 20px;  /* Adjust as needed */
    padding: 10px;
}
.faq-q, .faq-a {
    display: grid;
    grid-template-columns: 20px auto 20px;
    gap: 10px;
    align-items: start;
}

.faq-q > .faq-icon, .faq-a > .faq-icon {
    justify-self: center;
}

.faq-q > .faq-icon > img, .faq-a > .faq-icon > img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.faq-q > .faq-content, .faq-a > .faq-content {
    justify-self: start;
}

.faq-q > .faq-content > h3, .faq-a > .faq-content > p {
    text-align: left;
    margin: 0; /* Ensures no margin for paragraph text */
}
.faq-icon {
    width: 20px;
    height: 20px;
}

.faq-icon img {
    max-width: 100%;
    height: auto;
}

